$primary-color: black;
$sub-color: #007bff;
$background-color: #18191a;
$body-font-size: 1rem;
$body-font-weight: 400;
$font-family: 'Inter', sans-serif;
$yellow : #CDA45E;
$color-text:#E4E6EB;

*{
    box-sizing: border-box;
}
html{
    font-family: $font-family;
    background: $background-color;
    color: $color-text;
    font-size: 100%;
    font-weight: $body-font-weight;
    scroll-behavior: smooth;
}
body{
    background: $background-color !important;
    
}
img{
    width: 100%;
    height: auto;
}
a{
    color: $primary-color;
    text-decoration: none;
}
button{
    font-family: $font-family;
    cursor: pointer;
    background: transparent;
    outline: none;
    border:none;
  
}
input{
    font-family: $font-family;
}


h1{
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
}
h2{
    font-size:3.2rem;
    font-style: normal;
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.9rem;

    letter-spacing: 0.01em;
}
h4{
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: 600;
}


//--------------------------------------------------------------------------

.cart-btn{
    background-color: $yellow;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
}





//------------------------------------------ --------------------------------
.register_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    label{
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-text;
        width: 100%;
    }
    input{
        width: 100% !important;
        height: 3rem;
        text-align: left !important;
    }
    input[type=submit]{
        margin-left: 0rem !important;
    }
}




//--------------------------------------------------------------------------





//--------------------------------------------------------------------------







//--------------------------------------------------------------------------










//------------------------------------------responsive--------------------------------

@media only screen and (max-width:70em){
    html{
        font-size: 85%;
    }
}
@media only screen and (max-width:69em){
    html{
        font-size: 80%;
    }
}
 
@media only screen and (max-width:52em){
    html{
        font-size: 70%;
    }
}   

@media only screen and (max-width:42em){
    html{
        font-size: 60%;
    }     
}


@media only screen and (max-width:25em){
    html{
        font-size: 50%;
    }
}

