{% extends 'layout/base.html' %}

{% block title %}Phòng đã đặt{% endblock %}
{% block background %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGhvdGVsfGVufDB8fDB8fA%3D%3D&w=1000&q=80 "  alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.pinimg.com/originals/24/71/dc/2471dc26a5996f7102394061d105bf75.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" s  rc="https://wallpaperaccess.com/full/2690549.jpg" alt="Third slide">
    </div>
  </div>
 
    <div class="container">
          <form class="form-search" action="{{ url_for('home') }}" method="post">
                 <div class="row align-items-center">
                <lable for="kind" class="col-md-2 font-weight-bold">Loại</lable>
                <select name="kind" class="form-control col-md-2" id="kind">
                    <option></option>
                    {% for c in kind %}
                        <option class="lt" value="{{ c.id }}">{{c.name}}</option>
                    {% endfor %}
                </select>
                <lable for="amount" class="font-weight-bold col-md-2">Số người</lable>
                <select class="form-control col-md-2" name="amount" id="amount">
                        <option></option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                </select>
                </div>
                <div class="row align-items-center">
                    <label for="startdate" class=" font-weight-bold col-md-2">Check in</label>
                    <input type="date" class="arrival col-md-6" id="startdate" name="startdate">
                </div>
                <div class="row align-items-center">
                    <label for="enddate" class="font-weight-bold col-md-2">Check out</label>
                    <input type="date" class="arrival col-md-6" id="enddate" name="enddate">
                </div>

                        <div class="col-md-3"></div>
                        <input type="submit" class="btn  btn-submit" value="Tìm kiếm">
          </form>
    </div>
  </div>
{% endblock %}
{% block content %}

 <section id="menu" class="menu section-bg">
  <div class="container booking-page" data-aos="fade-up">

    <div class="section-title">
      <h2>Các phòng đã đặt</h2>
 
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">Tất cả</li>
          {% for c in kind %}
          <li data-filter=".filter-{{ c.id }}">{{c.name}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
      {% for p in roomBooking %}
      <div class="col-lg-6 menu-item filter-{{p.Room.kind_id}}">
        <img src="{{ url_for('static', filename = 'images/defaultRoom.png') }}" class="" alt="">
        <div class="menu-content">
          <a href="{{ url_for('receipt_detail', receipt_id=p.Receipt.id)}}">{{ p.Room.name }}</a><span>{{ "{:,.1f}".format(p.Room.price) }} VND</span>
         
        </div>
        <div>
          <p>Người đặt: {{p.User.name}}</p>
          <p>Ngày đặt: {{p.Receipt.created_date}}</p>
  

        </div>
        <div class="booking-button-wrapper">
          <div class="menu-ingredients mt-4">
            <a href="#" class="cart-btn" data-toggle="modal" data-target="#checkInModal" onclick="checkIn({{ p.Room.id }}, '{{ p.Room.name }}', {{ p.Room.price }})">Check in</a>
          </div>
          <div class="menu-ingredients mt-4">
            <a href="#" class="cart-btn"  data-toggle="modal" data-target="#paymentModal" onclick="payment({{p.Receipt.id}})">Thanh toán</a>
          </div>
          <div class="menu-ingredients mt-4">
            <a href="#" class="cart-btn" onclick="cancelBooking({{p.Receipt.id}})">Hủy đặt phòng</a>
          </div>
        </div>
      </div>
      {% endfor %}



    </div>

  </div>





    
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Thanh toán</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input disabled type="text" class="form-control" id="formPaymentReceipId">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tổng tiền:</label>
            <input disabled type="text" class="form-control" id="total_price">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tiền nhận:</label>
            <input type="text" class="form-control" id="in_price">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tiền thối:</label>
            <input type="text" class="form-control" id="out_price">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" onclick="paymentSubmit()">Thanh toán</button>
      </div>
    </div>
  </div>
</div>

  

  <div class="modal fade" id="checkInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:900px!important;">
      <div class="modal-content">
        <div class="container">
          <h3>Đăng kí các thành viên phòng</h3>
          <div class="row clearfix">
              <div class="col-md-12 column">
                  <table class="table table-bordered table-hover" id="tab_logic">
                      <thead>
                          <tr >
                              <th class="text-center">
                                  #
                              </th>
                              <th class="text-center">
                                  Tên
                              </th>
                              <th class="text-center">
                                  Quốc tịch
                              </th>
                              <th class="text-center">
                                  CMND
                              </th>
                              <th class="text-center">
                                  Địa chỉ
                              </th>
                  
                          </tr>
                      </thead>
                      <tbody>
                          <tr id='addr0'>
                              <td>
                              1
                              </td>
                              <td>
                              <input type="text" name='name0'  placeholder='Tên' class="form-control"/>
                              </td>
                              <td>
                              <input type="text" name='country0' placeholder='Quốc tịch' class="form-control"/>
                              </td>
                              <td>
                              <input type="text" name='cmnd0' placeholder='CMND' class="form-control"/>
                              </td>
                              <td>
                              <input type="text" name='address0' placeholder='Địa chỉ' class="form-control"/>
                              </td>
                       
                          </tr>
                          <tr id='addr1'></tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <a id="add_row" class="btn btn-default pull-left">Thêm thành viên</a><a id='delete_row' class="pull-right btn btn-default">Xóa hàng</a>
      </div>
   
    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary">Lưu</button>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}