{% extends 'layout/base.html' %}

{% block title %}Gio hang{% endblock %}
{% block css %}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">

{% endblock %}
{% block content %}
<h1 class="text-center text-white">Phòng đã đặt</h1>

{% if 'cart' in session and session['cart'] %}
<table class="table">
    <tr>
        <th>Mã phòng</th>
        <th>Tên phòng</th>
        <th>Giá thuê một ngày</th>
        <th>Ngày nhận phòng</th>
        <th>Ngày trả phòng</th>
        <th>Tổng số ngày ở</th>
        <th>Số lượng phòng đặt</th>
        <th></th>
    </tr>
    {% for c in session['cart'].values() %}
    <tr id="product{{ c.id }}">
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.price }}</td>
        <td> {{ c.check_in }}</td>
        <td> {{ c.check_out }}</td>
        <td> {{ c.days }}</td>
        <td>
            <div class="form-group">
                <input type="number"
                       onblur="updateCart(this, {{ c.id }})"
                       class="form-control"
                       value="{{ c.quantity }}"  />
            </div>
        </td>
        <td>
            <input type="button"
                   onclick="deleteCart({{ c.id }})"
                   value="Xoá phòng"
                   class="btn btn-danger btn-delete " />
        </td>
    </tr>
    {% endfor %}
</table>

<div class="alert alert-info">
    <h5>Tồng phòng đã đặt: <span id="cartCounter2">{{ cart_stats.total_quantity }}</span></h5>
    <h5>Tổng tiền: <span id="cartAmount">{{ "{:,.1f}".format(cart_stats.total_amount)}}</span> VND</h5>
</div>

{% if current_user.is_authenticated %}
<input type="button" value="Xác nhận đặt phòng" onclick="pay()" class="btn btn-danger btn-pay" />
{% else %}
<a href="{{ url_for('user_signin', next='cart') }}">Vui long dang nhap de thanh toan</a>
{% endif %}
<br><br>
{% else %}
<p class="text-center"><i>Hiện tại quý khách chưa đặt phòng nào!!!</i></p>
{% endif %}
{% endblock %}