{% extends 'layout/base.html' %}

{% block title %}RoomDetail{% endblock %}
{% block content%}
<br><br><br><br><br><br><br>
<div class="container" style="background-color: #ffd7db; border-radius: 10px;">
    <h1 class="text text-info">Phòng {{ room.name }}</h1>

    <div class="row" >
        <div class="col-md-5 col-xs-12">
            <img src="{{ url_for('static', filename = 'images/defaultRoom.png') }}" alt="{{ room.name }}">
        </div>
        <div class="col-md-7 col-xs-12">
            <h2>{{ room.name }}</h2>
            <p> {{ room.description }} </p>
            <h2>Amount: {{ room.amount }}</h2>
            <h4>{{ "{:,.1f}".format(room.price) }} VND</h4>
        </div>
        <br><br>
    </div>
        <br>
        <br>
        <hr>
    {% if current_user.is_authenticated %}
    <div class="row">
        <div class="form-group">
            <textarea class="form-control" id="commentId" placeholder="nhap noi dung binh luan"></textarea>
            <input type="button"
                   onclick="addComment({{ room.id }})"
                   class="btn btn-primary" value="Comment">
        </div>
    </div>
    {% else %}
    <a href="{{ url_for('user_signin') }}">Đăng nhập để bình luận</a>
    {% endif %}
    <div id="commentArea">
        {% for c in comments %}
        <div class="row">
            <div class="col-md-1 col-xs-4">
                {% if c.user.avatar %}
                <img src="{{ c.user.avatar }}" class="img-fluid rounded-circle" alt="avatar">
                {% else %}
                <img src="{{ url_for('static', filename = 'images/defaultAvatar.png') }}"
                     class="img-fluid rounded-circle" alt="demo">
                {% endif %}
            </div>
            <div class="col-md-11 col-xs-8">
                <p>{{ c.content }}</p>
                <p><em class="my-date">{{ c.created_date }}</em></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    window.onload = function(){
        let d = document.getElementsByClassName('my-date')
        for (let i = 0; i < d.length; i++)
            d[i].innerText = moment(d[i].innerText).fromNow()
    }
</script>
{% endblock %}