{% extends 'layout/base.html' %}

{% block title %}Trang Chủ{% endblock %}
{% block background %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGhvdGVsfGVufDB8fDB8fA%3D%3D&w=1000&q=80 "  alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.pinimg.com/originals/24/71/dc/2471dc26a5996f7102394061d105bf75.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://wallpaperaccess.com/full/2690549.jpg" alt="Third slide">
    </div>
  </div>
    <div class="container">
          <form class="form-search" action="{{ url_for('home') }}" method="post">
                 <div class="row align-items-center">
                <lable for="kind" class="col-md-2 font-weight-bold">Loại phòng</lable>
                <select name="kind" class="form-control col-md-2" id="kind">
                    <option></option>
                    {% for c in kind %}
                        <option class="lt" value="{{ c.id }}">{{c.name}}</option>
                    {% endfor %}
                </select>
                <lable for="amount" class="font-weight-bold col-md-2">Số người</lable>
                <select class="form-control col-md-2" name="amount" id="amount">
                        <option></option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                </select>
                </div>
                <div class="row align-items-center">
                    <label for="startdate" class=" font-weight-bold col-md-2">Check in</label>
                    <input type="date" class="arrival col-md-6" id="startdate" name="startdate">
                </div>
                <div class="row align-items-center">
                    <label for="enddate" class="font-weight-bold col-md-2">Check out</label>
                    <input type="date" class="arrival col-md-6" id="enddate" name="enddate">
                </div>

                        <div class="col-md-3"></div>
                        <input type="submit" class="btn  btn-submit" value="Tìm kiếm">
          </form>
    </div>
  </div>
{% endblock %}
{% block content %}
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Điểm nổi bật</h2>
          <p>Tại sao bạn nên chọn dịch vụ của chúng tôi</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Giá thành</h4>
              <p>Chúng tôi cung cấp dịch vụ với giá thành phải chăng</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Tiện nghi</h4>
              <p>Phòng ốc được trang bị tiện ích hiện đại, đảm bảo tiện nghi</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4>Phục vụ chu đáo</h4>
              <p>Đội ngũ nhân viên chất lượng, luôn sẵn sàng hỗ trợ quý khách hàng khi cần</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->



 <section id="menu" class="menu section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Phòng</h2>
      <p>Xem các phòng của chúng tôi</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">Tất cả</li>
          {% for c in kind %}
          <li data-filter=".filter-{{ c.id }}">{{c.name}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
      {% for p in rooms %}
      <div class="col-lg-6  menu-item filter-{{p.kind_id}}">
        <a href="{{ url_for('room_detail', room_id=p.id) }}" target="_blank" title="Xem thông tin chi tiết"><img src="{{ url_for('static', filename = 'images/defaultRoom.png') }}" class="" alt=""></a>
        <div class="menu-content">
          <a href="{{ url_for('room_detail', room_id=p.id) }}" target="_blank" title="Xem thông tin chi tiết">{{ p.name }}</a><span>{{ "{:,.1f}".format(p.price) }} VND</span>
        </div>
        <div></div>
        <div class="booking-button-wrapper" style="display: flex; flex-wrap: nowrap;">
          <div class="menu-ingredients mt-4">
            <a href="#" class="cart-btn" onclick="addToCart({{ p.id }}, '{{ p.name }}', {{ p.price }})">Đặt phòng</a>
          </div>
          <div class="menu-ingredients mt-4">
            <a href="{{ url_for('room_detail', room_id=p.id) }}" target="_blank" title="Xem thông tin chi tiết" class="cart-btn">Xem chi tiết</a>
          </div>

        </div>
      </div>
      {% endfor %}



    </div>

  </div>
</section>

   <!-- ======= Events Section ======= -->
   <section id="events" class="events">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Dịch vụ đi kèm</h2>
        <p>Các dịch vụ khác của khách sạn</p>
      </div>

      <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class=" event-item">
              <div class=" pt-4 pt-lg-0 content">
                <h3>Hồ bơi</h3>
    
              </div>
              <div class="">
                <img src="https://image.freepik.com/free-photo/type-entertainment-complex-popular-resort-with-pools-water-parks-turkey-with-more-than-5-million-visitors-year-amara-dolce-vita-luxury-hotel-resort-tekirova-kemer_146671-18728.jpg" class="img-fluid" alt="">
              </div>
            
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class=" event-item">
              <div class=" pt-4 pt-lg-0 content">
                <h3>Nhà hàng</h3>

    
              </div>
              <div class="">
                <img src="https://image.freepik.com/free-photo/restaurant-interior_1127-3394.jpg" class="img-fluid" alt="">

              </div>
            
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class=" event-item">
              <div class=" pt-4 pt-lg-0 content">
                <h3>Công viên</h3>

    
              </div>
              <div class="">
                <img src="https://image.freepik.com/free-photo/park-with-wooden-pathway-benches_1137-254.jpg" class="img-fluid" alt="">

              </div>
            
            </div>
          </div><!-- End testimonial item -->

       
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Events Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Hình ảnh</h2>
          <p>Một số hình ảnh của khách sạn chúng tôi</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://image.freepik.com/free-photo/modern-studio-apartment-design-with-bedroom-living-space_1262-12375.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://image.freepik.com/free-photo/modern-studio-apartment-design-with-bedroom-living-space_1262-12375.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://image.freepik.com/free-photo/interior-modern-comfortable-hotel-room_1232-1822.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://image.freepik.com/free-photo/interior-modern-comfortable-hotel-room_1232-1822.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://image.freepik.com/free-photo/luxury-bedroom-hotel_1150-10836.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://image.freepik.com/free-photo/luxury-bedroom-hotel_1150-10836.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://image.freepik.com/free-photo/small-hotel-bedroom-with-white-walls-panoramic-window_1262-12488.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://image.freepik.com/free-photo/small-hotel-bedroom-with-white-walls-panoramic-window_1262-12488.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://image.freepik.com/free-photo/luxury-bedroom-suite-resort-high-rise-hotel-with-working-table_105762-1783.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://image.freepik.com/free-photo/luxury-bedroom-suite-resort-high-rise-hotel-with-working-table_105762-1783.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://image.freepik.com/free-photo/relax-sofa-window_1150-12924.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://image.freepik.com/free-photo/relax-sofa-window_1150-12924.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://image.freepik.com/free-photo/pillow-bed-decoration-interior-bedroom_74190-11180.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://image.freepik.com/free-photo/pillow-bed-decoration-interior-bedroom_74190-11180.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->


     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Thông tin liên hệ</h2>
          <p>Liên hệ với chúng tôi</p>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.9352724656715!2d106.67562381488547!3d10.81626549229452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528e195f816b7%3A0xfb5c0101490d8870!2zMzcxIE5ndXnhu4VuIEtp4buHbSwgUGjGsOG7nW5nIDMsIEfDsiBW4bqlcCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1642234346617!5m2!1svi!2s" frameborder="0" allowfullscreen></iframe>
      
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Địa chỉ:</h4>
                <p>371 Nguyễn Kiệm, Gò Vấp, TP Hồ Chí Minh</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Giờ làm việc:</h4>
                <p>
                  Tất cả các ngày trong tuần:<br>
                  11:00 AM - 23:00 PM
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@QPQN.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Điện thoại:</h4>
                <p>123456789</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Họ tên" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Tiêu đề" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Lời nhắn" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Gửi tin nhắn</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock %}