{% extends 'layout/base.html' %}

{% block title %}Trang Chu{% endblock %}

{% block content %}
<h1 class="subject">CHAO MUNG CAC BAN DEN VOI TRANG CHU</h1>

<br><br>
<form action="{{ url_for('home') }}" method="post">
    <h2 class="title-anchor">Make a reservation</h2>
    <div class="form-group">
        <lable for="kind">Kind</lable>
        <select name="kind" class="form-control" id="kind">
            {% for c in kind %}
                <option class="lt" value="{{ c.id }}">{{c.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <div><lable for="startdate">Ngày</lable></div>
        <input type="date" class="arrival" id="startdate" name="startdate">
    </div>
    <div class="form-group">
        <div><lable for="enddate">Đến ngày</lable></div>
        <input type="date" class="arrival" id="enddate" name="enddate">
    </div>
    <div class="form-group">
        <lable for="amount">Số người</lable>
        <select class="form-control" name="amount" id="amount">
                <option value="2">4</option>
                <option value="4">2</option>
                <option value="6">6</option>
        </select>
    </div>
        <input type="submit" class="btn btn-success" value="Search">

</form>
<br><br>
<div class="row">
  {% for p in rooms %}
  <div class="col-md-3 col-xs-12" style="padding: 5px">
      <div class="card" style="padding: 5px">
        <img class="card-img-top" src="{{url_for('static', filename = 'images/defaultRoom.png')}}" alt={{ p.name }}>
        <div class="card-body">
          <h4 class="card-title">{{ p.name }}</h4>
          <p class="card-text">{{ "{:,.1f}".format(p.price) }} VND</p>
          <a href="#" class="btn btn-primary" onclick="addToCart({{ p.id }}, '{{ p.name }}', {{ p.price }})">Dat hang</a>
        </div>
      </div>
  </div>
  {% endfor %}
</div>
<br><br>
{% endblock %}