{% extends 'layout/base.html' %}

{% block title %}Đăng nhập{% endblock %}

{% block content%}
    <h1 class="text-center text-info">ĐĂNG NHẬP</h1>


    <div class="wrapper fadeInDown login-form">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div  class="fadeIn first">
          <img src="{{ url_for('static', filename = 'images/defaultAvatar.png') }}" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post" >
          <input type="text" id="username" class="fadeIn second" name="username" placeholder="Tên đăng nhập">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mật khẩu">
          <input type="submit" class="fadeIn fourth" value="Đăng nhập">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Quên mật khẩu?</a>
          <a class="nav-link " href="{{ url_for('user_register') }}">Đăng kí</a>
        </div>
         {% if err_msg %}
        <div class="alert alert-danger">
            <p><i class="text text-danger">{{ err_msg }}</i></p>
        </div>
        {% endif %}
      </div>
    </div>


{% endblock %}