{% extends 'layout/base.html' %}

{% block title %}Đăng kí tài khoản{% endblock %}

{% block content%}
<div class="register">
    <h1 class="text-center  text-danger">ĐĂNG KÝ NGƯỜI DÙNG</h1>

{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{ err_msg }}</h4>
</div>
{% endif %}

<form method="post" action="{{ url_for('user_register') }}" enctype="multipart/form-data">
    <div class="form-group">
        <lable for="name">Name</lable>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass" name="password" >
    </div>
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="password" class="form-control" id="confirm" name="confirm">
    </div>
    <div class="form-group">
        <lable for="avatar">AVATAR</lable>
        <input type="file" class="form-control" id="avatar" name="avatar">
    </div>
    <input type="submit" value="Dang Ky" class="btn btn-danger ">

</form>
</div>

<br><br>
{% endblock %}