{% extends 'admin/base.html' %}

{% block body %}
<h1 class="text-center text-danger">THỐNG KÊ BÁO CÁO</h1>
<br>

<div class="row">
    <div class="col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th>Mã Phòng</th>
                <th>Tên Phòng</th>
                <th>Doanh Thu</th>
            </tr>
            {% for s in stats %}
            <tr>
                <th>{{ s[0] }}</th>
                <th>{{ s[1] }}</th>
                <th>
                    {% if s[2] %}
                    {{ "{:,.1f}".format(s[2]) }} VND
                    {% else %}
                    0 VND
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" name="kw" placeholder="Nhap tu khoa...">
            </div>
            <div class="form-group">
                <input type="date" name="from_date" class="form-control">
            </div>
            <div class="form-group">
                <input type="date" name="to_date" class="form-control">
            </div>
            <input type="submit" value="Thống kê" width="30px" height="20px" class="btn btn-info">
        </form>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>


<br><br>
<h1 class="text-center text-danger">Mật độ thuê phòng</h1>
<br>
<div class="row">
    <div class="col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th>Tên phòng</th>
                <th>Số lần được thuê</th>

            </tr>
            {% for d in statsUsed %}
            <tr>
                <th>{{ d[0] }}</th>
                <th>{{ d[1] }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>


</div>

 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      let lables = [], counter=[], colors = [], borderColors = []
      let r, g, b
      {% for s in stats %}
      {% if s[2] %}
        lables.push('{{ s[1] }}')
        counter.push({{ s[2] }})

        r = parseInt(Math.random()*255)
        g = parseInt(Math.random()*255)
        b = parseInt(Math.random()*255)
        colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
        borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
      {% endif %}
      {% endfor %}


      let lables1 = [], counter1=[], colors1 = [], borderColors1 = []
      let r1, g1, b1
      {% for d in statsUsed %}

        lables1.push('{{ d[0] }}')
        counter1.push({{ d[1] }})

        r1 = parseInt(Math.random()*255)
        g1 = parseInt(Math.random()*255)
        b1 = parseInt(Math.random()*255)
        colors1.push(`rgba(${r1}, ${g1}, ${b1}, 0.2)`)
        borderColors1.push(`rgba(${r1}, ${g1}, ${b1}, 1)`)

      {% endfor %}



      window.onload = function() {
        const ctx = document.getElementById('myChart').getContext('2d')
        loadChart(ctx, lables, counter, 'bar', colors, borderColors )
        const ctx1 = document.getElementById('myChart2').getContext('2d')
        loadChart1(ctx1, lables1, counter1, 'doughnut', colors1, borderColors1 )
      }

     function loadChart( ctx, lables, counter, type, colors, borderColors) {
         const myChart = new Chart(ctx, {
                type: type,
                data: {
                    labels: lables,
                    datasets: [{
                        label: 'Thống kê doanh thu',
                        data: counter,
                        backgroundColor: colors,
                        borderColor: borderColors,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
     }
     function loadChart1( ctx, lables, counter, type, colors, borderColors) {
         const myChart = new Chart(ctx, {
                type: type,
                data: {
                    labels: lables,
                    datasets: [{
                        label: 'Thống kê doanh thu',
                        data: counter,
                        backgroundColor: colors,
                        borderColor: borderColors,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
     }
    </script>

{% endblock %}